table {
  position: relative;
  width: 100%;
  margin-top: 40px;
  background: #F0F0F0;
  border-collapse: collapse;
  outline: 1px solid #F0F0F0;
  outline-style: dashed;
}

table > * {
  font-size: 12px;
}

td:nth-child(odd) {
  background: #e0e0e0;
}

th:nth-child(1), 
td:nth-child(1) {
  padding: 10px 10px;
}

th, td {
  color: #000;
  padding: 10px 0px;
}

th {
  background: #202020;
  color: #F0F0F0;
}

tr:last-child > td {
  background: #202020;
  color: #F0F0F0;
}

tr:last-child > td:nth-child(odd) {
  background: #303030;
}

tr:last-child > td:first-child {
  background: #8757e5;
  color: #F0F0F0;
}

caption {
  position: absolute;
  top: -15px;
  left: calc(50% - 57.6px);
  width: max-content;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  background: #F0F0F0;
  color: #000;
}