table {
  margin-top: .5rem;
  max-width: 1000px;
  background: #F0F0F0;
  /* padding: 0rem .25rem; */
  border-radius: 4px;
  color: #000;
}

th, td {
  padding: 10px 5px;
}

tr, td {
  /* border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; */
  color: #000;
  border: none;
}

td:nth-child(even) {
  background: #CCC;
}

th {
  background: #202020;
  color: #F0F0F0;
}

table caption {
  margin: 5px 0px;
}

@media screen and (max-width: 600px) {
  * {
    font-family: 12px !important;
  }

  table {
    transform: scale(0.90);
  }
}