* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  color: #FFFFFF;
}

html {
  background: #202020;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

input, button {
  width: 100%;
  padding: .25rem .25rem;
  color: #202020 !important;
}

@media screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }

  input, button {
    padding: .25rem 0rem;
  }
}