* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
}

form {
  width: 100%;
  padding: 2% 4%;
}

html {
  background: #202020;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  min-height: 100vh;
}

input, button {
  max-width: 1000px;
  width: 100%;
  padding: .25rem .25rem;
  color: #202020 !important;
}

@media screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }

  input, button {
    padding: 10px 5px;
  }

  body {
    transform: scale(0.9);
  }
}